<footer typeof="schema:Organization" resource="https://ldes.tech/#organization">
  <p>
    &copy; <span property="schema:name">the Linked Data Fragments collaborators</span>.
    LDES is developed as a
    <a href="https://github.com/SEMICeu/LinkedDataEventStreams" property="schema:sameAs">SEMIC community specification</a>
    together with the <a href="https://treecg.github.io/">TREE</a> hypermedia specification.
  </p>
  <p>
    <a property="schema:email" href="mailto:pieter.colpaert@ugent.be?subject=LDES%20question">Contact us</a>
    &middot;
    <a href="https://github.com/SEMICeu/LinkedDataEventStreams/issues/">Open an issue on the specification</a>
    &middot;
    <a href="{{ '/news/feed.xml' | relative_url }}">RSS feed</a>
  </p>
</footer>
</body>
</html>
